.DS_Store
.AppleDouble
.LSOverride
logs
*.log
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.npm
*.tgz
.yarn-integrity
.env
.env.test
.env.production

coverage
*.lcov

*.code-workspace

.vscode/
.history/