.vec-month {
  margin: 24px 12px 32px;
}

.vec-month__title {
  margin: 0 4px 12px;

  color: var(--vec-color-text-primary);

  font-size: var(--vec-fs-xs);
  font-weight: 600;
}

.vec-month__days {
  display: grid;
  justify-content: center;

  width: 100%;

  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: minmax(40px, auto);
  row-gap: 6px;
  column-gap: 4px;
}

.vec-month__days .vec-day:first-child {
  grid-column-start: var(--vec-month-first-day-shift, 0);
}
