.vec-body {
  /* colors */
  --vec-color-transparent: rgba(255, 255, 255, 0); /* safari bug */
  --vec-color-white: hsl(232, 5%, 99%);
  --vec-color-background: var(--vec-color-white);
  /*  */
  --vec-color-gray: hsl(113, 0%, 81%);
  --vec-color-gray-light: hsl(113, 0%, 91%);
  /*  */
  --vec-color-text-primary: hsl(212, 11%, 15%);
  --vec-color-text-secondary: hsl(223, 6%, 28%);
  --vec-color-text-tertiary: hsl(223, 6%, 42%);
  /*  */
  --vec-color-primary: hsl(232, 100%, 63%);
  --vec-color-secondary: hsl(201, 76%, 72%);
  --vec-color-tertiaty: hsl(188, 61%, 89%);
  /*  */
  --vec-color-warning: hsl(7, 89%, 63%);
  /* rem */
  --vec-rem: 20px;
  /* font */
  --vec-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --vec-fs-xxs: 13px;
  --vec-fs-xs: 15px;
  --vec-fs-s: 17px;
  --vec-fs-m: 19px;
  --vec-lh-m: 1.41;
  /* sizes */
  --vec-calendar-max-height: calc(100vh - 40px);
  /* z-indexes; */
  --vec-z-index-calendar: 10;
  --vec-z-index-guard-alert: 10;
}
